click==6.6
csvkit==0.9.1
docopt==0.6.2
Flask==0.11.1
httpserver==1.1.0
itsdangerous==0.24
jdcal==1.2
Jinja2==2.8
MarkupSafe==0.23
openpyxl==2.2.0b1
psycopg2==2.6.2
pygame-camera==0.1.1
pygameday==0.2
python-dateutil==2.2
PyYAML==3.12
servers.py==0.1.7
simple-server==0.1.1
six==1.10.0
SQLAlchemy==1.0.15
Unipath==1.1
Werkzeug==0.11.11
xlrd==1.0.0
